<div class="container">
  <h1>Angular Component</h1>
<!--  &lt;!&ndash;  number&ndash;&gt;-->
<!--  <p>{{e | number:'1.1-5' }}</p>-->
<!--  <p>{{e | number:'3.1-3' }}</p>-->
<!--  <p>{{e | number:'1.0-0' }}</p>-->
<!--  &lt;!&ndash;  string&ndash;&gt;-->
<!--  <p>{{str | uppercase }}</p>-->
<!--  <p>{{str | lowercase }}</p>-->
<!--  <p>{{str | uppercase | lowercase | titlecase }}</p>-->
<!--&lt;!&ndash;  <p>{{ str | titlecase | slice:1}}</p>&ndash;&gt;-->
<!--&lt;!&ndash;  <p>{{ str | titlecase | slice:5}}</p>&ndash;&gt;-->
<!--  <p>{{ str | titlecase | slice:-2}}</p>-->
<!--&lt;!&ndash;  DATE&ndash;&gt;-->
<!--  <P>{{date | date}}</P>-->
<!--  <P>{{date | date : 'fullDate' }}</P>-->
<!--  <P>{{date | date : 'longDate' }}</P>-->
<!--  <P>{{date | date : 'long' }}</P>-->
<!--  <P>{{date | date : 'GGGG' }}</P>-->
<!--  <P>{{date | date : 'GGGG yyyy dd, HH:mm:ss' }}</P>-->

  <p>{{float}}</p>
  <p>{{float | currency}}</p>
  <p>{{float | percent: '3.1-2'}}</p>
  <p>{{float | percent: '2.0-0'}}</p>

  <pre>{{obj | json }}</pre>
  <p>{{obj | json }}</p>


</div>
