<div class="container">
  <h1>Angular Component</h1>
  <div class="card">
    <h2>App Counter:{{appCounterService.counter}}</h2>
  <button class="btn" (click)="appCounterService.incrise()">Add</button>
  <button class="btn" (click)="appCounterService.derise()">dell</button>
  </div>

  <div class="card">
    <h2>App Counter:{{localCounterService.counter}}</h2>
    <button class="btn" (click)="localCounterService.incrise()">Add</button>
    <button class="btn" (click)="localCounterService.derise()">dell</button>
  </div>
</div>
