<!--&lt;!&ndash;The content below is only a placeholder and can be replaced.&ndash;&gt;-->
<!--<div style="text-align:center">-->
<!--  <h1>-->
<!--    Welcome to {{ title }}!-->
<!--  </h1>-->
<!--  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">-->
<!--</div>-->
<!--<h2>Here are some links to help you start: </h2>-->
<!--<ul>-->
<!--  <li>-->
<!--    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>-->
<!--  </li>-->
<!--  <li>-->
<!--    <h2><a target="_blank" rel="noopener" href="https://angular.io/cli">CLI Documentation</a></h2>-->
<!--  </li>-->
<!--  <li>-->
<!--    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>-->
<!--  </li>-->
<!--</ul>-->

<!--<h1>Hello Angular World!</h1>-->
<!--<p> {{title}}</p>-->
<!--&lt;!&ndash;<p><strong>{{number-2}}</strong></p>&ndash;&gt;-->
<!--&lt;!&ndash;<p><strong>{{arr}}</strong></p>&ndash;&gt;-->
<!--&lt;!&ndash;<p><strong>{{obj.b.c}}</strong></p>&ndash;&gt;-->
<!--&lt;!&ndash;<p><strong>{{40 + 2}}</strong></p>&ndash;&gt;-->
<!--&lt;!&ndash;<p><strong>{{'a'+ 'b'}}</strong></p>&ndash;&gt;-->

<!--&lt;!&ndash;<img src="{{img}}" alt="">&ndash;&gt;-->
<!--&lt;!&ndash;<img [src]="img" alt="">&ndash;&gt;-->

<!--<button (click) ="onClick()">Click</button>-->
<!--&lt;!&ndash;<input type="text" (input)="onInput($event)">&ndash;&gt;-->
<!--<input type="text"-->
<!--       (keyup.enter)="onInput($event)"-->
<!--       (blur)="onBlur(myInput.value)"-->
<!--        #myInput-->
<!--&gt;-->
<!--<p> <strong>{{inputValue}}</strong></p>-->
<!--<app-post></app-post>-->
<!--&lt;!&ndash;<app-post></app-post>&ndash;&gt;-->

<!--<hr>-->
<!--<app-post4></app-post4>-->



<!--<h1>Hello Angular World!</h1>-->
<!--<input type="text" [value]="title" (input)="onInput($event)">-->
<!--<p>{{title}}</p>-->


<!--<h1>Hello Angular World!</h1>-->
<!--<input type="text" [(ngModel)]="title">-->
<!--<p>{{title}}</p>-->

<h1>Hello Angular World!</h1>

<button (click)="toggle = !toggle">Toggle</button>

<!--<div [ngStyle]="{-->
<!--with: '200px',-->
<!--height: '200px',-->
<!--borderRadius: '5px',-->
<!--border: '1px solid #ccc',-->
<!--background: backgroundToggle ? 'red' : 'blue'-->
<!--}">-->
<!--</div>-->


<!--<p [ngClass]="{-->
<!--red: backgroundToggle,-->
<!--blue: !backgroundToggle-->
<!--}">Lorem ... </p>-->

<!--<p [class.blue]="!backgroundToggle"-->
<!--    [class.red]="backgroundToggle">loram ..... </p>-->


<!--<p *ngIf="toggle" class = "red"> Lorem....</p>-->
<!--<p *ngIf="!toggle" class = "blue"> Lorem....</p>-->

<p *ngIf="toggle; else blueP "class = "red"> Lorem....</p>
<ng-template #blueP>
<p class = "blue"> Lorem....</p>
</ng-template>

